<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Topics</h1>
    <a href="/topic/new">Post new topic</a>

    <div id="topic-list">
    <ul>
    {% for topic in topics %}
    <li>
    <a href="/topic/{{ topic["topic_id"] }}">{{ topic["subject"] }}</a>
     - {{ topic["replies"] }} 
    {% if topic["replies"] != 1 %} replies {% else %} reply {% endif %}
    </li>
    {% endfor %}
    </ul>
    </div>
   
</body>
</html>