<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body class="bg-dark">
    <style>
        body {
          padding-top: 145px;
        }
        a:link {
          text-decoration: none;
        }
    </style>
    <!--Navbar-->
    <nav class = "navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
        <div class = "container">
        <a href = "#"class="navbar-brand text-light fw-bold"><img class="img-fluid w-25 d-sm-block" src= "./images/BSM.png">Welcome!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class = "collapse navbar-collapse" id = "navmenu">
            <ul class = "navbar-nav ms-auto">
                <li class ="nav-item">
                    <a href="#questions" class="nav-link">QUESTIONS</a>
                </li>
                <li class ="nav-item">
                    <a href="#leaderboard" class="nav-link">LEADERBOARD</a>
                </li>
                <li class ="nav-item">
                    <a href="#forum" class="nav-link">FORUM</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>

    <!--Questions-->
    
    
    <section id = questions class="justify-content-between bg-dark">
        <div class="container">
          <div class="row">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Question 1 <div class="text-success fw-bold">(Easy)</div>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target. You may assume that each input would have exactly one solution, and you may not use the same element twice. You can return the answer in any order. The answer to this question will be run this test case: nums = [3,2,4], target = 6
                  <button type = "button" class = "btn btn-outline-success" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/1';"> Answer</button>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Question 2 <div class="text-warning fw-bold"> (Medium)</div>
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  You are given two non-empty linked lists representing two non-negative integers. The digits are stored in reverse order, and each of their nodes contains a single digit. Add the two numbers and return the sum as a linked list.You may assume the two numbers do not contain any leading zero, except the number 0 itself. The answer to this question will be run this test case: l1 = [2,4,3], l2 = [5,6,4]	                
                  <button type = "button" class = "btn btn-outline-warning" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/2';"> Answer</button>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Question 3 <div class="text-danger fw-bold">(Hard)</div>
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Given two sorted arrays nums1 and nums2 of size m and n respectively, return the median of the two sorted arrays.The overall run time complexity should be O(log (m+n)).The answer to this question will be run this test case:  nums1 = [1,2], nums2 = [3,4]
                  <button type = "button" class = "btn btn-outline-danger" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/3';"> Answer</button>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                  Question 4 <div class="text-success fw-bold">(Easy)</div>
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Given an integer x, return true if x is palindrome integer. An integer is a palindrome when it reads the same backward as forward. For example, 121 is palindrome while 123 is not.The answer to this question will be run this test case:  x = -121                
                  <button type = "button" class = "btn btn-outline-success" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/4';"> Answer</button>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
                Question 5 <div class="text-warning fw-bold"> (Medium)</div>
                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Given a signed 32-bit integer x, return x with its digits reversed. If reversing x causes the value to go outside the signed 32-bit integer range [-231, 231 - 1], then return 0. The answer to this question will be run this test case:x = -123
                  <button type = "button" class = "btn btn-outline-warning" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/5';"> Answer</button>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                  Question 6 <div class="text-danger fw-bold">(Hard)</div>
                </button>
              </h2>
              <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  You are given an array of k linked-lists lists, each linked-list is sorted in ascending order.Merge all the linked-lists into one sorted linked-list and return it. The answer to this question will be run this test case:lists = [[1,4,5],[1,3,4],[2,6]]
                  <button type = "button" class = "btn btn-outline-danger" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/6';"> Answer</button>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="true" aria-controls="collapseOne">
                  Question 7 <div class="text-success fw-bold">(Easy)</div>
                </button>
              </h2>
              <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Given an integer array nums sorted in non-decreasing order, remove the duplicates in-place such that each unique element appears only once. The relative order of the elements should be kept the same.Since it is impossible to change the length of the array in some languages, you must instead have the result be placed in the first part of the array nums. More formally, if there are k elements after removing the duplicates, then the first k elements of nums should hold the final result. It does not matter what you leave beyond the first k elements.Return k after placing the final result in the first k slots of nums.Do not allocate extra space for another array. You must do this by modifying the input array in-place with O(1) extra memory. The answer to this question will be run this test case:nums = [0,0,1,1,1,2,2,3,3,4]
                  <button type = "button" class = "btn btn-outline-success" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/7';"> Answer</button>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseTwo">
                Question 8 <div class="text-warning fw-bold"> (Medium)</div>
                </button>
              </h2>
              <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Given an array of distinct integers candidates and a target integer target, return a list of all unique combinations of candidates where the chosen numbers sum to target. You may return the combinations in any order.The same number may be chosen from candidates an unlimited number of times. Two combinations are unique if the frequency of at least one of the chosen numbers is different.It is guaranteed that the number of unique combinations that sum up to target is less than 150 combinations for the given input.  The answer to this question will be run this test case:candidates = [2,3,5], target = 8
                  <button type = "button" class = "btn btn-outline-warning" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/8';"> Answer</button>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseThree">
                  Question 9 <div class="text-danger fw-bold">(Hard)</div>
                </button>
              </h2>
              <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Given a linked list, reverse the nodes of a linked list k at a time and return its modified list.k is a positive integer and is less than or equal to the length of the linked list. If the number of nodes is not a multiple of k then left-out nodes, in the end, should remain as it is.You may not alter the values in the lists nodes, only nodes themselves may be changed. The answer to this question will be run this test case:head = [1,2,3,4,5], k = 2
                  <button type = "button" class = "btn btn-outline-danger" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/9';"> Answer</button>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="true" aria-controls="collapseOne">
                  Question 10 <div class="text-success fw-bold">(Easy)</div>
                </button>
              </h2>
              <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Write a function to find the longest common prefix string amongst an array of strings. If there is no common prefix, return an empty string "". The answer to this question will be run this test case: strs = ["flower","flow","flight"]
                  <button type = "button" class = "btn btn-outline-success" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/10';"> Answer</button>
                </div>   
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseTwo">
                Question 11 <div class="text-warning fw-bold"> (Medium)</div>
                </button>
              </h2>
              <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Given a string s, return the longest palindromic substring in s. The answer to this question will be run this test case: s = "cbbd"   
                  <button type = "button" class = "btn btn-outline-warning" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/11';"> Answer</button>
                </div>  
                </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseThree">
                  Question 12 <div class="text-danger fw-bold">(Hard)</div>
                </button>
              </h2>
              <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  You are given a string s and an array of strings words of the same length. Return all starting indices of substring(s) in s that is a concatenation of each word in words exactly once, in any order, and without any intervening characters. You can return the answer in any order.
                  The answer to this question will be run this test case: s = "barfoothefoobarman", words = ["foo","bar"]
                  <button type = "button" class = "btn btn-outline-danger" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/12';"> Answer</button>                
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="true" aria-controls="collapseOne">
                  Question 13 <div class="text-success fw-bold">(Easy)</div>
                </button>
              </h2>
              <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Given a string s containing just the characters '(', ')', '{', '}', '[' and ']', determine if the input string is valid. An input string is valid if: 1. Open brackets must be closed by the same type of brackets. 2. Open brackets must be closed in the correct order. The answer to this question will be run this test case: s = "(]"	
                  <button type = "button" class = "btn btn-outline-success" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/13';"> Answer</button>                            
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseTwo">
                Question 14 <div class="text-warning fw-bold"> (Medium)</div>
                </button>
              </h2>
              <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Given an integer array nums, return all the triplets [nums[i], nums[j], nums[k]] such that i != j, i != k, and j != k, and nums[i] + nums[j] + nums[k] == 0. The answer to this question will be run this test case: nums = [-1,0,1,2,-1,-4]
                  <button type = "button" class = "btn btn-outline-warning" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/14';"> Answer</button>                            
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseThree">
                  Question 15 <div class="text-danger fw-bold">(Hard)</div>
                </button>
              </h2>
              <div id="collapseFifteen" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Given a string containing just the characters '(' and ')', find the length of the longest valid (well-formed) parentheses substring. The answer to this question will be run this test case: s = "(()"
                  <button type = "button" class = "btn btn-outline-danger" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/15';"> Answer</button>                            
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixteen" aria-expanded="true" aria-controls="collapseOne">
                  Question 16 <div class="text-success fw-bold">(Easy)</div>
                </button>
              </h2>
              <div id="collapseSixteen" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Return the index of the first occurrence of needle in haystack, or -1 if needle is not part of haystack. The answer to this question will be run this test case: haystack = "hello", needle = "ll"
                  <button type = "button" class = "btn btn-outline-success" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/16';"> Answer</button>                            
                </div>              
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseTwo">
                Question 17 <div class="text-warning fw-bold"> (Medium)</div>
                </button>
              </h2>
              <div id="collapseSeventeen" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Given the head of a linked list, remove the nth node from the end of the list and return its head. The answer to this question will be run this test case: head = [1,2,3,4,5], n = 2
                  <button type = "button" class = "btn btn-outline-warning" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/17';"> Answer</button>                            
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEightteen" aria-expanded="false" aria-controls="collapseThree">
                  Question 18 <div class="text-danger fw-bold">(Hard)</div>
                </button>
              </h2>
              <div id="collapseEightteen" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Given an unsorted integer array nums, return the smallest missing positive integer. You must implement an algorithm that runs in O(n) time and uses constant extra space. The answer to this question will be run this test case: nums = [3,4,-1,1]
                  <button type = "button" class = "btn btn-outline-danger" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/18';"> Answer</button>                            
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNineteen" aria-expanded="true" aria-controls="collapseOne">
                  Question 19 <div class="text-success fw-bold">(Easy)</div>
                </button>
              </h2>
              <div id="collapseNineteen" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Given an integer array nums, find the contiguous subarray (containing at least one number) which has the largest sum and return its sum. The answer to this question will be run this test case: nums = [-2,1,-3,4,-1,2,1,-5,4]
                  <button type = "button" class = "btn btn-outline-success" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/19';"> Answer</button>                            
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwo">
                Question 20 <div class="text-warning fw-bold"> (Medium)</div>
                </button>
              </h2>
              <div id="collapseTwenty" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Given an array of integers nums sorted in non-decreasing order, find the starting and ending position of a given target value. If target is not found in the array, return [-1, -1]. The answer to this question will be run this test case: nums = [5,7,7,8,8,10], target = 8
                  <button type = "button" class = "btn btn-outline-warning" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/20';"> Answer</button>                            
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyone" aria-expanded="false" aria-controls="collapseThree">
                  Question 21 <div class="text-danger fw-bold">(Hard)</div>
                </button>
              </h2>
              <div id="collapseTwentyone" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Given two strings word1 and word2, return the minimum number of operations required to convert word1 to word2. You have the following three operations permitted on a word: Insert a character, Delete a character, Replace a character. The answer to this question will be run this test case: word1 = "horse", word2 = "ros" 
                  <button type = "button" class = "btn btn-outline-danger" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/21';"> Answer</button>                            
                </div>
              </div>
            </div><div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentytwo" aria-expanded="true" aria-controls="collapseOne">
                  Question 22 <div class="text-success fw-bold">(Easy)</div>
                </button>
              </h2>
              <div id="collapseTwentytwo" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  You are given a large integer represented as an integer array digits, where each digits[i] is the ith digit of the integer. The digits are ordered from most significant to least significant in left-to-right order. The large integer does not contain any leading 0's. The answer to this question will be run this test case: digits = [4,3,2,1]                
                  <button type = "button" class = "btn btn-outline-success" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/22';"> Answer</button>                            
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentythree" aria-expanded="false" aria-controls="collapseTwo">
                Question 23 <div class="text-warning fw-bold"> (Medium)</div>
                </button>
              </h2>
              <div id="collapseTwentythree" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Given two non-negative integers num1 and num2 represented as strings, return the product of num1 and num2, also represented as a string. The answer to this question will be run this test case: num1 = "2", num2 = "3"
                  <button type = "button" class = "btn btn-outline-warning" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/23';"> Answer</button>                            
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyfour" aria-expanded="false" aria-controls="collapseThree">
                  Question 24 <div class="text-danger fw-bold">(Hard)</div>
                </button>
              </h2>
              <div id="collapseTwentyfour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Given a rows x cols binary matrix filled with 0's and 1's, find the largest rectangle containing only 1's and return its area.
                  The answer to this question will be run this test case: 
                  matrix = [["1","0","1","0","0"],
                           ["1","0","1","1","1"],
                           ["1","1","1","1","1"],
                           ["1","0","0","1","0"]]
                  <button type = "button" class = "btn btn-outline-danger" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/24';"> Answer</button>                            
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyfive" aria-expanded="true" aria-controls="collapseOne">
                  Question 25 <div class="text-success fw-bold">(Easy)</div>
                </button>
              </h2>
              <div id="collapseTwentyfive" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Given two binary strings a and b, return their sum as a binary string. The answer to this question will be run this test case: a = "1010", b = "1011"
                  <button type = "button" class = "btn btn-outline-success" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/25';"> Answer</button>                            
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentysix" aria-expanded="false" aria-controls="collapseTwo">
                Question 26 <div class="text-warning fw-bold"> (Medium)</div>
                </button>
              </h2>
              <div id="collapseTwentysix" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Given an array nums of distinct integers, return all the possible permutations. You can return the answer in any order. The answer to this question will be run this test case: nums = [1,2,3]
                  <button type = "button" class = "btn btn-outline-warning" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/26';"> Answer</button>                            
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyseven" aria-expanded="false" aria-controls="collapseThree">
                  Question 27 <div class="text-danger fw-bold">(Hard)</div>
                </button>
              </h2>
              <div id="collapseTwentyseven" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  There are n children standing in a line. Each child is assigned a rating value given in the integer array ratings. You are giving candies to these children subjected to the following requirements: Each child must have at least one candy. Children with a higher rating get more candies than their neighbors. Return the minimum number of candies you need to have to distribute the candies to the children. The answer to this question will be run this test case: ratings = [1,0,2]
                  <button type = "button" class = "btn btn-outline-danger" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/27';"> Answer</button>                            
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyeight" aria-expanded="true" aria-controls="collapseOne">
                  Question 28 <div class="text-success fw-bold">(Easy)</div>
                </button>
              </h2>
              <div id="collapseTwentyeight" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  You are climbing a staircase. It takes n steps to reach the top. Each time you can either climb 1 or 2 steps. In how many distinct ways can you climb to the top? The answer to this question will be run this test case: n = 3
                  <button type = "button" class = "btn btn-outline-success" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/28';"> Answer</button>                            
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentynine" aria-expanded="false" aria-controls="collapseTwo">
                Question 29 <div class="text-warning fw-bold"> (Medium)</div>
                </button>
              </h2>
              <div id="collapseTwentynine" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Given the head of a linked list, rotate the list to the right by k places. The answer to this question will be run this test case: head = [1,2,3,4,5], k = 2
                  <button type = "button" class = "btn btn-outline-warning" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/29';"> Answer</button>                            
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirty" aria-expanded="false" aria-controls="collapseThree">
                  Question 30 <div class="text-danger fw-bold">(Hard)</div>
                </button>
              </h2>
              <div id="collapseThirty" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  You are given a string s. You can convert s to a palindrome by adding characters in front of it. Return the shortest palindrome you can find by performing this transformation. The answer to this question will be run this test case: s = "aacecaaa"
                  <button type = "button" class = "btn btn-outline-danger" onclick="window.location.href=' http://127.0.0.1:5000/questionpage/30';"> Answer</button>                            
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
    </section>

    <!--leaderboard & logout-->

    <div class="container-lg bg-dark py-5">
      <div class="row justify-content-center">
          <div class="col-md-6">
              <div class="p-5 bg-primary text-light">
                <section id = leaderboard class="justify-content-between" >
                  <div class="container text-center">
                    <a  class= "text-light" href="{{'leaderboard'}}">Leaderboard</a>
                  </div>
                </section>            
              </div>
          </div>
          <div class="col-md-6">
              <div class="p-5 bg-primary text-light">
                <section id = forum class="justify-content-between" >
                  <div class="container text-center">
                    <a class ="text-light" href="{{'topic'}}">Forum</a>
                  </div>
                </section>   
              </div>
          </div>
      </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    

  </body>
</html>
