<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="leaderboard.css">
</head>
    <h1>Leaderboard</h1>

    <div class="studenttabs">
        <input type="radio" id="Ea" name="StudentTabs" checked="checked">
        <label for="Ea">Easy</label>
        <div class="tab">
            <table>
                <tr>
                    <th>Question Number</th>
                    <th>Top User</th>
                    <th>Time</th>
                </tr>
                
                
                {% for row in lb %}
                {% if row["ques_id"] == 1%}{% if row["time"] != 'N/A' %}
                <tr>
                    <td>Question 1</td>
                    <td>{{row["user_id"]}}</td>
                    <td>{{row["time"]}}</td>
                </tr>
                {% endif %}{% endif %}
                {% endfor %}



            </table>
        </div>

        <input type="radio" id="Me" name="StudentTabs">
        <label for="Me">Medium</label>
        <div class="tab">
            <table>
                <tr>
                    <th>Question Number</th>
                    <th>Top User</th>
                    <th>Time</th>
                </tr>

                {% for row in lb %}
                {% if row["ques_id"] == 2%}{% if row["time"] != "N/A" %}
                <tr>
                    <td>Question 2</td>
                    <td>{{row["user_id"]}}</td>
                    <td>{{row["time"]}}</td>
                </tr>
                {% endif %}{% endif %}
                {% endfor %}
            </table>
        </div>

        <input type="radio" id="Ha" name="StudentTabs">
        <label for="Ha">Hard</label>
        <div class="tab">
            <table>
                <tr>
                    <th>Question Number</th>
                    <th>Top User</th>
                    <th>Time</th>
                </tr>

                <tr>
                    <td>Question 3</td>
                    <td>Person 1</td>
                    <td>Time 1</td>
                </tr>
            </table>
        </div>

    </div>
<body>

</body>

</html>
